.post-date {
	position: relative;
	display: block;
	padding-left: 24px;
}

.post-date__icon {
	position: absolute;
		left: 0;
		top: 50%;
	transform: translateY( -50% );
}

.post-date__label {
	display: block;
	font-size: 0.8rem;
	line-height: 1.2rem;
}
