.post-meta-block {
	position: relative;
	display: inline-block;
	vertical-align: top;
	padding-left: 24px;
	margin-left: 18px;
	color: rgba( $font-color-body, 0.5 );

	&:first-of-type {
		margin-left: 0;
	}

	&:hover {
		color: $font-color-body;
	}
}

.post-meta-block__icon {
	position: absolute;
		left: 0;
		top: 50%;
	transform: translateY( -50% );
}

.post-meta-block__label {
	display: block;
	font-size: 0.8rem;
	line-height: 1.2rem;
}

.post-meta-block__label a {
	text-decoration: none;
	color: currentcolor;
}
