.app-header {
	position: relative;
	overflow: hidden;
	padding: 12px;
	background-color: white;
}

.app-header__logo-link,
.app-header__logo {
	display: block;
}

.app-header__logo-link {
	float: left;
}

.app-header__logo {
	width: 3.4rem;
	height: auto;
	border-radius: 50%;

	@include desktop() {
		width: 100%;
	}
}

.app-header__accounts {
	float: right;
}
