// Layout
$content-width: 780px;
$desktop-width: 1024px;

// Colors
$font-color-body: #3b454d;
$font-color-headings: darken( $font-color-body, 5% );
$border-color: #e7e7e7;
$loading-pulse-color: #f7f7f7;
$color-green: #38bf63;
$color-red: #da635d;
$color-facebook: #3b5998;
$color-twitter: #00aced;
$color-google-plus: #dd4b39;
$color-youtube: #bb0000;
$color-linkedin: #007bb6;
$color-instagram: #517fa4;
$color-flickr: #ff0084;
$color-pinterest: #cb2027;
$color-dribbble: #c32361;
$color-github: #464646;

// Animation
$transition-duration: 0.3s;
